[submodule "PCT_Pytorch"]
	path = PCT_Pytorch
	url = git@github.com:zihangm/PCT_Pytorch.git
[submodule "fewshot-egnn"]
	path = fewshot-egnn
	url = git@github.com:zihangm/fewshot-egnn.git
[submodule "long_tailed_tmd"]
	path = long_tailed_tmd
	url = https://github.com/shubham745/LTR-weight-balancing.git
[submodule "pygcn_tmd"]
	path = pygcn_tmd
	url = git@github.com:shubham745/pygcn.git
